# Imports and data reading

In [65]:
import pandas as pd 
import os 
import inflection
import folium
from streamlit_folium import folium_static

In [2]:
os.getcwd()

'C:\\Users\\Marcelo Brandao\\Documents\\datasets\\FTC\\pa_ftc'

In [3]:
df = pd.read_csv('C:\\Users\\Marcelo Brandao\\Documents\\datasets\\FTC\\pa_ftc\\fome_zero.csv')

In [4]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [5]:
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes
count,7.527000e+03,7527.000000,7527.000000,7527.000000,7.527000e+03,7527.000000,7527.000000,7527.000000,7527.0,7527.000000,7527.000000,7527.000000
mean,1.055689e+07,93.065365,33.764092,19.332787,7.152113e+03,0.062176,0.352464,0.174306,0.0,2.624552,4.118055,616.401488
std,7.075141e+06,99.031229,77.395241,23.255979,2.906068e+05,0.241491,0.477769,0.379397,0.0,0.959794,0.680191,1127.697932
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
25%,3.500060e+06,1.000000,-4.258142,12.923378,6.000000e+01,0.000000,0.000000,0.000000,0.0,2.000000,4.000000,152.000000
50%,7.701457e+06,30.000000,73.785121,25.246955,2.900000e+02,0.000000,0.000000,0.000000,0.0,3.000000,4.200000,335.000000
75%,1.714715e+07,214.000000,79.833706,31.636552,6.000000e+02,0.000000,1.000000,0.000000,0.0,3.000000,4.500000,663.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,0.0,4.000000,4.900000,41333.000000

# Dataset Preparation

## Preenchimento do nome dos países

In [6]:
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

In [7]:
df['country_name'] = df['Country Code'].apply(country_name)

## Criação do Tipo de Categoria de Comida

In [8]:
def create_price_type(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [9]:
df['food_category'] = df['Price range'].apply(create_price_type)

## Criação do nome das Cores

In [10]:
COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

In [11]:
df['color_name'] = df['Rating color'].apply(color_name)

## Renomear as colunas do DataFrame

In [12]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

In [13]:
df = rename_columns(df)

## Categorizar por um tipo de culinária

In [14]:
df["cuisines"] = df.loc[:, "cuisines"].apply(lambda x: x.split(",")[0] if isinstance(x, str) else x)

# Geral

## 1. Quantos restaurantes únicos estão registrados?

In [15]:
df.head(1)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,food_category,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen

In [16]:
df['restaurant_id'].nunique()

6942

## 2. Quantos países únicos estão registrados?

In [17]:
df['country_code'].nunique()

15

## 3. Quantas cidades únicas estão registradas?

In [18]:
df['city'].nunique()

125

## 4. Qual o total de avaliações feitas?

In [19]:
df['votes'].sum()

4639654

## 5. Qual o total de tipos de culinária registrados?

In [20]:
df['cuisines'].nunique()

165

# Pais

In [21]:
df.head(1)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,food_category,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen

In [22]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'country_name', 'food_category', 'color_name'],
      dtype='object')

## 1. Qual o nome do país que possui mais cidades registradas?

In [23]:
result = df[['country_name','city']].groupby(['country_name']).count().reset_index().sort_values('city', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país com mais cidades registradas:", first_country_name)

Nome do país com mais cidades registradas: India

## 2. Qual o nome do país que possui mais restaurantes registrados?

In [24]:
df[['country_name','restaurant_id']].groupby(['country_name']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país com mais restaurantes registrados:", first_country_name)

Nome do país com mais restaurantes registrados: India

## 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [25]:
filtered_df = df[df['price_range'] == 4]

In [26]:
result = filtered_df[['country_name','price_range']].groupby(['country_name']).count().reset_index().sort_values('price_range', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país com mais restaurantes com o nível de preço igual a 4 registrados:", first_country_name)

Nome do país com mais restaurantes com o nível de preço igual a 4 registrados: United States of America

## 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [27]:
result = df[['country_name','cuisines']].groupby(['country_name']).nunique().reset_index().sort_values('cuisines', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui a maior quantidade de tipos de culinária distintos:", first_country_name)

Nome do país que possui a maior quantidade de tipos de culinária distintos: India

## 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [28]:
result = df[['country_name','votes']].groupby(['country_name']).sum().reset_index().sort_values('votes', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui a maior quantidade de avaliações feitas:", first_country_name)

Nome do país que possui a maior quantidade de avaliações feitas: India

## 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [29]:
filtered_df = df[df['has_online_delivery']==1]

In [30]:
result = filtered_df[['country_name','restaurant_id']].groupby(['country_name']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui a maior quantidade de restaurantes que fazem entrega:", first_country_name)

Nome do país que possui a maior quantidade de restaurantes que fazem entrega: India

## 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [31]:
filtered_df = df[df['has_table_booking']==1]

In [32]:
result = filtered_df[['country_name','restaurant_id']].groupby(['country_name']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui a maior quantidade de restaurantes que aceitam reservas:", first_country_name)

Nome do país que possui a maior quantidade de restaurantes que aceitam reservas: India

## 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [33]:
result = df[['country_name','votes']].groupby(['country_name']).mean().reset_index().sort_values('votes', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui, na média, a maior quantidade de avaliações registradas:", first_country_name)

Nome do país que possui, na média, a maior quantidade de avaliações registradas: Indonesia

## 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [34]:
result = df[['country_name','aggregate_rating']].groupby(['country_name']).mean().reset_index().sort_values('aggregate_rating', ascending = False)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui, na média, a maior nota média registrada:", first_country_name)

Nome do país que possui, na média, a maior nota média registrada: Indonesia

## 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [35]:
result = df[['country_name','aggregate_rating']].groupby(['country_name']).mean().reset_index().sort_values('aggregate_rating', ascending = True)
first_country_name = result['country_name'].iloc[0]                                                        
print("Nome do país que possui, na média, a maior nota média registrada:", first_country_name)

Nome do país que possui, na média, a maior nota média registrada: Brazil

## 11. Qual a média de preço de um prato para dois por país?

In [36]:
result = df[['country_name','average_cost_for_two','currency']].groupby(['country_name','currency']).mean().reset_index().sort_values('average_cost_for_two', ascending = False)
print(result)

                country_name                currency  average_cost_for_two
5                  Indonesia  Indonesian Rupiah(IDR)         312682.926829
0                  Australia               Dollar($)         138959.783333
11                 Sri Lanka   Sri Lankan Rupee(LKR)           2607.471264
7                Philippines        Botswana Pula(P)           1211.090909
4                      India      Indian Rupees(Rs.)            702.303964
10              South Africa                 Rand(R)            335.479058
8                      Qatar         Qatari Rial(QR)            176.648936
13      United Arab Emirates      Emirati Diram(AED)            158.218563
9                  Singapure               Dollar($)            141.036585
1                     Brazil      Brazilian Real(R$)            137.375479
12                    Turkey        Turkish Lira(TL)            128.848485
6                 New Zeland           NewZealand($)             61.442688
14  United States of America               Dollar($)             54.921864
3                    England               Pounds(£)             43.045767
2                     Canada               Dollar($)             41.861111

# Cidade

In [37]:
df.head(1)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,food_category,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen

In [41]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'country_name', 'food_category', 'color_name'],
      dtype='object')

## 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [38]:
result = df[['city','restaurant_id']].groupby(['city']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui mais restaurantes registrados:', first_city)

A cidade que possui mais restaurantes registrados: Nagpur

## 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [42]:
filtered_df = df[df['aggregate_rating'] > 4]

In [43]:
result = filtered_df[['city','aggregate_rating']].groupby(['city']).count().reset_index().sort_values('aggregate_rating', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui mais restaurantes com nota média acima de 4:', first_city)

A cidade que possui mais restaurantes com nota média acima de 4: Bangalore

## 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [44]:
filtered_df = df[df['aggregate_rating'] < 2.5]
result = filtered_df[['city','aggregate_rating']].groupby(['city']).count().reset_index().sort_values('aggregate_rating', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui mais restaurantes com nota média abaixo de 2.5:', first_city)

A cidade que possui mais restaurantes com nota média abaixo de 2.5: Gangtok

## 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [45]:
result = df[['city','average_cost_for_two']].groupby(['city']).count().reset_index().sort_values('average_cost_for_two', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui o maior valor médio de um prato para dois:', first_city)

A cidade que possui o maior valor médio de um prato para dois: Nagpur

## 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [46]:
result = df[['city','cuisines']].groupby(['city']).count().reset_index().sort_values('cuisines', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui a maior quantidade de tipos de culinária distintas:', first_city)

A cidade que possui a maior quantidade de tipos de culinária distintas: Nagpur

## 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [47]:
filtered_df = df[df['has_table_booking'] == 1]
result = filtered_df[['city','restaurant_id']].groupby(['city']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui a maior quantidade de restaurantes que fazem reservas:', first_city)

A cidade que possui a maior quantidade de restaurantes que fazem reservas: Bangalore

## 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [50]:
filtered_df = df[df['is_delivering_now'] == 1]
result = filtered_df[['city','restaurant_id']].groupby(['city']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui a maior quantidade de restaurantes que fazem entregas:', first_city)

A cidade que possui a maior quantidade de restaurantes que fazem entregas: Aurangabad

## 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [52]:
filtered_df = df[df['has_online_delivery'] == 1]
result = filtered_df[['city','restaurant_id']].groupby(['city']).count().reset_index().sort_values('restaurant_id', ascending = False)
first_city = result['city'].iloc[0]
print('A cidade que possui a maior quantidade de restaurantes que aceitam pedidos online:', first_city)

A cidade que possui a maior quantidade de restaurantes que aceitam pedidos online: Abu Dhabi

# Restaurantes

## 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

## 2. Qual o nome do restaurante com a maior nota média?

## 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

## 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menormédia de avaliação?

## 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

## 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

## 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

## 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

# Tipos de Culinária

## 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

## 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

## 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

## 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

## 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

## 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

## 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

## 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

## 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

## 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

## 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

## 12. Qual o tipo de culinária que possui a maior nota média?

## 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [57]:
print(df['country_name'].unique())

['Philippines' 'Brazil' 'Australia' 'United States of America' 'Canada'
 'Singapure' 'United Arab Emirates' 'India' 'Indonesia' 'New Zeland'
 'England' 'Qatar' 'South Africa' 'Sri Lanka' 'Turkey']

In [58]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'country_name', 'food_category', 'color_name'],
      dtype='object')

In [59]:
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,food_category,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,0,0,4,4.7,3F7E00,Excellent,469,Philippines,gourmet,darkgreen
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,Filipino,...,0,0,3,4.4,5BA829,Very Good,867,Philippines,expensive,green
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,0,3,4.4,5BA829,Very Good,858,Philippines,expensive,green

In [73]:
filtered_df = df[df['aggregate_rating'] > 4]
result = (filtered_df[['city','country_name','aggregate_rating']]
                      .groupby(['city','country_name'])
                      .count()
                      .reset_index()
                      .sort_values(['aggregate_rating','city'], ascending = [False,True]))

            
df_aux = result.head(7)
print(df_aux)

         city              country_name  aggregate_rating
11  Bangalore                     India                86
23    Chennai                     India                82
43    Houston  United States of America                82
56     London                   England                81
53    Kolkata                     India                80
70     Mumbai                     India                77
91       Pune                     India                77

##

##

##

##

##